[submodule "contracts/ethereum/invoice/lib/openzeppelin-contracts"]
	path = contracts/ethereum/invoice/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/ethereum/invoice/lib/forge-std"]
	path = contracts/ethereum/invoice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
