COIN_DEMO_GECKO_API_KEY="<your_gecko_demo_api_key>"
COIN_PRO_GECKO_API_KEY="<your_gecko_pro_api_key>"
PORT=3007
CURRENCIES=["usd", "eur"]
TOKENS=[{"symbol": "eth", "chain": "ethereum", "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"}, {"symbol": "strk", "chain": "ethereum", "address": "0xca14007eff0db1f8135f4c25b34de49ab0d42766"}]