export PG_URL=postgres://postgres:password@localhost:5432/node
export GRPC_PORT=20002
export SIGNER_URL=http://localhost:10001
export APIBARA_TOKEN="<your_apibara_token>"
export DNA_URI="<Only relevant if running on chain `SN_DEVNET`. already set in docker-compose.yml>"
